:root {
    --text: red;
    --bg: black;
    --btn-bg: #d7f171;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
      color: blue;
      text-align: center;
  }
  
  body {
    color: var(--text);
    background-color: var(--bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  h1 {
    font-size: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  .Game-Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: blue;
  }
  
  #board {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    margin-top: 40px;
    background: white;
  }
  
  .box {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
  }
  
  #restart {
    padding: 10px 20px;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 20px;
    color: var(--bg);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }